@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: abyss ;
}


.bg-login{
  width: 100%;
  height: 100vh;
  background-image: url('/layered-waves-haikei(2).svg');
  background-size: cover;
  background-position: center;

}